#wrapper {
    padding: 25px;
    margin: 0 auto;
    padding: 0 auto;
}

#step {
    display: inline-block;
    width: 250px;
    margin: 2%;
    padding: 5px;
}
#scenario {
    width: 150px;
    margin: 1%;
    padding: 2px;
}
#feature { 
    display: inline-block;
    padding: 70px
}
